opencv-python==4.5.2.52
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu
torchvision==0.9.1+cpu
matplotlib==3.3.4
numpy==1.19.2
pandas==1.2.1
streamlit==0.81.0

contextily==1.1.0
